* {
  margin: 0;
}

.App {
  background-color: #282c34;
  height: 100vh;
  position: fixed;
  width: 100vw;
}

#calculator {
  background-color: black;
  width: calc(50vw + 3px);
  height: 50vh;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  padding: 5px;
  border-radius: 5px;
}

#display {
  height: 20%;
  color: white;
  text-align: right;
}

#upper {
  color: orange;
  text-align: right;
  font-size: calc(1vh + 1vw + 13px);
}

#lower {
  font-size: calc(1vh + 1vw + 13px);
}

#pad {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 79%;
}

button {
  border-radius: 0;
  border: solid black 1px;
  background-color: rgb(49, 48, 48);
  color: aliceblue;
  cursor: pointer;
}

#clear {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(238, 22, 22);
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: rgb(50, 37, 231);
}
